{% extends 'base.html.twig' %}

{% form_theme formPocheEditStatut 'bootstrap_4_layout.html.twig'%}

{% block body %}
<br><br><br><br><br><br>
{% if not app.user %}
<p>Connectez-vous avec un compte "Technicien de laboratoire" pour effectuer cette opération</p>
{% elseif app.user.poste == "Technicien de laboratoire"  %}
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Modifier le statut du poche de sang</h5><br><br>
                                <div  class="card-body">
                                    {{ form_start(formPocheEditStatut) }}
                                        {{ form_row(formPocheEditStatut.statut)}}
                                        <button type = "submit" class="btn btn-warning btn-block">Enregistrer </button>
                                    {{form_end(formPocheEditStatut)}}    
                            </div>
                        </div>
{% else %}
<p>Vos droits d'utilisateur sont insuffisants pour l'opération demandée!</p>
{% endif %}
{% endblock %}